/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6; /* Halka grey background */
  color: #333;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Gallery ko center mein rakhne ke liye */
.main-content {
  flex: 1;
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 20px;
}